[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
rdflib = "*"
"beautifulsoup4" = "*"
requests = "*"
rdflib-jsonld = "*"

[dev-packages]

[requires]
python_version = "3"
