{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css"
    rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<div class="container">
<h1>Visualisation of Skybrary data</h1>
</div>
{% endblock content %}


{% block scripts %}
{{ super() }}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.js"></script>
<div class="container" style="margin-left: 280px;">
{{ script|safe }}
</div>
{% endblock %}
